# Database files
*.sqlite3

# Python cache
__pycache__/
*/__pycache__/
*.py[cod]
*.pyc
# Django migrations
news_app/migrations/

# VSCode settings
.vscode/

# Static files
news_app/static/

# Environment variables
.env

userinput.py
.cursor